<?xml version="1.0" encoding="ISO-8859-1" ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Templates for TYPO3 extenstion "register4cal"</title>
</head>
<body>
	<h1>Templates for single view</h1><hr /><!-- *************************************************************************************************************** -->
	
	<h2>SINGLE_NOREGISTER</h2>
	<p>Information, that no registration is possible at the moment</p>
	<pre>
	<!-- ###SINGLE_NOREGISTER### begin -->
	    <h2>###HEADING###</h2>
	    <p>###TEXTTOP###</p>
	    <p>###TEXTBOTTOM###</p>
	<!-- ###SINGLE_NOREGISTER### end -->
	</pre>	
	
	<h2>SINGLE_NEEDLOGIN</h2>
	<p>Information, that the user needs to login for registering</p>
	<pre>	
	<!-- ###SINGLE_NEEDLOGIN### begin-->
	    <h2>###HEADING###</h2>
	    <p>###TEXTTOP###</p>
	    <form action="###LOGINLINK###" method="post"><input type="submit" value="###LABEL_login###" /></form>
	    <form action="###ONETIMEACCOUNTLINK###" method="post"><input type="submit" value="###LABEL_ONETIMEACCOUNT###" /></form>
	    <p>###TEXTBOTTOM###</p>
	<!-- ###SINGLE_NEEDLOGIN### end-->
	</pre>	
	
	<h2>SINGLE_REGISTRATION_ENTER</h2>
	<p>Registration in single event view</p>
	<pre>
	<!-- ###SINGLE_REGISTRATION_ENTER### begin -->
	<h2>###HEADING###</h2>
	<p>###TEXTTOP###<p>
	###MESSAGES###
	<form action="###LINK###" method="post"><table width="100%">
	    <tr><td colspan=2>
		<b>###LABEL_maxattendees###:</b> ###MAXATTENDEES###
		<b>###LABEL_numattendees###:</b> ###NUMATTENDEES###
		<b>###LABEL_numwaitlist###:</b> ###NUMWAITLIST###
		<b>###LABEL_numfree###:</b> ###NUMFREE###<br /><br />
	    </td></tr>
	    <tr>
		<td><b>###LABEL_user_name###:</b></td>
		<td>###USER_name###</td>
	    </tr><tr>
		<td><b>###LABEL_user_address###:</b></td>
		<td>###USER_address###</td>
	    </tr><tr>
		<td><b>###LABEL_user_zip###/###LABEL_user_city###:</b></td>
		<td>###USER_zip### ###USER_city###</td>
	    </tr><tr>
		<td><b>###LABEL_user_email###:</b></td>
		<td>###USER_email###</td>
	    </tr><tr>
		<td><b>###LABEL_location_name###:</b></td>
		<td>###LOCATION_name###</td>
	    </tr><tr>
		<td><b>###LABEL_organizer_name###:</b></td>
		<td>###ORGANIZER_name###</td>
	    </tr>
	    ###FIELDS###
	    <tr><td colspan="2" align="center">
		###SUBMITBUTTON###
	    </td></tr>
	</table></form>
	<p>###TEXTBOTTOM###</p>
	<!-- ###SINGLE_REGISTRATION_ENTER### end -->
	</pre>
	
	<h2>SINGLE_REGISTRATION_ALREADYDONE</h2>
	<p>Informing the user that he has already registered for an event</p>
	<pre>
	<!-- ###SINGLE_REGISTRATION_ALREADYDONE### begin -->
	<h2>###HEADING###</h2>
	<p>###TEXTTOP###</p>
	###MESSAGES###
	<form action="###LINK###" method="post"><table width="100%">
	    <tr><td colspan=2>
		<b>###LABEL_maxattendees###:</b> ###MAXATTENDEES###
		<b>###LABEL_numattendees###:</b> ###NUMATTENDEES###
		<b>###LABEL_numwaitlist###:</b> ###NUMWAITLIST###
		<b>###LABEL_numfree###:</b> ###NUMFREE###<br /><br />
	    </td></tr>
	    <tr>
		<td><b>###LABEL_status###:</b></td>
		<td>###STATUS###</td>
	    </tr>
	    ###FIELDS###
	    <tr><td colspan="2" align="center">
		###SUBMITBUTTON###
	    </td></tr>
	</table></form>
	<p>###TEXTBOTTOM###</p>
	<!-- ###SINGLE_REGISTRATION_ALREADYDONE### end -->
	</pre>
	
        <h2>SINGLE_REGISTRATION_OVER_RUNNING_FINISHED</h2>
	<p>Informing a registered user that the registration period is over/the event has started/the event is finished
	<pre>
	<!-- ###SINGLE_REGISTRATION_OVER_RUNNING_FINISHED### begin -->
	<h2>###HEADING###</h2>
	<p>###TEXTTOP###</p>
	<table width="100%">
	    <tr><td colspan=2>
		<b>###LABEL_maxattendees###:</b> ###MAXATTENDEES###
		<b>###LABEL_numattendees###:</b> ###NUMATTENDEES###
		<b>###LABEL_numwaitlist###:</b> ###NUMWAITLIST###
		<b>###LABEL_numfree###:</b> ###NUMFREE###<br /><br />
	    </td></tr>
	    <tr>
		<td><b>###LABEL_status###:</b></td>
		<td>###STATUS###</td>
	    </tr>
	    ###FIELDS###
	</table>
	<p>###TEXTBOTTOM###</p>
	<!-- ###SINGLE_REGISTRATION_OVER_RUNNING_FINISHED### end -->
	</pre>

	<hr /><h1>Templates for list view</h1><hr /><!-- *************************************************************************************************************** -->
	<h2>LIST_SUBMIT</h2>
	<p>This part defines the form to register for an event if displayed in list view</p>
	<pre>
	<!-- ###LIST_SUBMIT### start --><input type="submit" value="###SUBMITBUTTON###" /><!-- ###LIST_SUBMIT### end -->
	</pre>

	<h2>LIST_REGISTRATION_ENTER</h2>
	<p>Registration for an event in list view</p>
	<pre>
	<!-- ###LIST_REGISTRATION_ENTER### start -->
	<fieldset><legend>###EVENT_CHECKBOX### ###TITLE###</legend>
	###MESSAGES###
	<table width="100%">###FIELDS###</table>
	</fieldset>
	<!-- ###LIST_REGISTRATION_ENTER### end -->
	</pre>
	
	<h2>LIST_REGISTRATION_ALREADYDONE</h2>
	<p>Informing the user that he has already registered</p>
	<pre>
	<!-- ###LIST_REGISTRATION_ALREADYDONE### begin -->
	<fieldset><legend>###TITLE###</legend>
	###MESSAGES###
	<table width="100%">###FIELDS###</table>
	<!-- ###UNREGISTER_ENABLED### begin -->###EVENT_CHECKBOX### ###UNREGISTERME###<!-- ###UNREGISTER_ENABLED### end -->
	</fieldset>
	<!-- ###LIST_REGISTRATION_ALREADYDONE### end -->
	</pre>
	
        <h2>LIST_REGISTRATION_OVER_RUNNING_FINISHED</h2>
	<p>Informing a registered user that the registration period is over/the event has started/the event is finished</p>
	<pre>
	<!-- ###LIST_REGISTRATION_OVER_RUNNING_FINISHED### begin -->
	<fieldset><legend>###TITLE###</legend>
        <p>###TEXTTOP###</p>
	<table width="100%">###FIELDS###</table>
	</fieldset>
	<!-- ###LIST_REGISTRATION_OVER_RUNNING_FINISHED### end -->
	</pre>

	<hr /><h1>Templates for list output</h1><hr /><!-- *************************************************************************************************************** -->
	<h2>LIST_EVENTS</h2>
	<p>This template defines how an event list should be displayed.</p>
	<pre>
	<!-- ###LIST_EVENTS### begin -->
	<table width="100%" border="1">
		<tr>
			<th>###LABEL_event_title###</th>
			<th>###LABEL_event_formated_start###</th>
			<th>###LABEL_event_formated_end###</th>
			<th>###LABEL_event_organizer_name###</th>
			<th>###LABEL_status###</th>
		</tr>
		<!-- ###ITEMS### begin -->
			<tr>
				<td><a href="###EVENT_link###">###EVENT_title###</a></td>
				<td>###EVENT_formated_start###</td>
				<td>###EVENT_formated_end###</td>
				<td>###EVENT_organizer_name###</td>
				<td>###STATUS###</td>
			</tr>
		<!-- ###ITEMS### end -->
		<!-- ###NOITEMS### begin -->
			<tr><td colspan=5>###LABEL_event_noitems###</td></tr>
		<!-- ###NOITEMS### end -->
		<!-- ###NOLOGIN### begin-->
			<tr><td colspan=5>###LABEL_event_nologin###</td></tr>
		<!-- ###NOLOGIN### end -->
	</table>
	<!-- ###LIST_EVENTS### end -->
	</pre>
	
	<h2>LIST_ATTENDEES</h2>
	<p>This template defines how a attendees list should be displayed.</p>
	<pre>
	<!-- ###LIST_ATTENDEES### begin -->
	<table width="100%" border="1" style="border-collapse:collapse;">
		<!-- ###NOEVENTS### begin -->
			<tr><td colspan=5>###LABEL_registration_noevents###</td></tr>
		<!-- ###NOEVENTS### end -->
		<!-- ###EVENTENTRY### begin -->
			<tr>
			<th>###LABEL_event_title###</th><td><a href="###EVENT_link###">###EVENT_title###</a></td>
			<th>###LABEL_event_organizer_name###</th><td>###EVENT_organizer_name###</td>
			<td rowspan=2>
				###LABEL_maxattendees###: ###MAXATTENDEES###<br />
				###LABEL_numattendees### ###NUMATTENDEES###<br />
				###LABEL_numwaitlist### ###NUMWAITLIST###<br />
			</td>
			</tr>
			<tr>
			<th>###LABEL_event_formated_start###</th><td>###EVENT_formated_start###</td>
			<th>###LABEL_event_formated_end###</th><td>###EVENT_formated_end###</td>
			</tr>
			<tr>
				<td colspan=5><b>###LABEL_admin_title###</b><br />###ADMINPANEL###</td>
			</tr>
			<tr>
			<th rowspan=2>###LABEL_user_name###</th>
			<th>###LABEL_user_address###</th>
			<th>###LABEL_user_zip###/###LABEL_user_city###</th>
			<th>###LABEL_user_email###</th>
			<th>###LABEL_status###</th>
			</tr><tr>
				<th colspan="4">###LABEL_userfields###</th>
			</tr>
		<!-- ###EVENTENTRY### end -->
		<!-- ###ITEMS### begin -->
			<tr>
				<td rowspan=2 style="vertical-align:top;">###USER_name###</td>
				<td>###USER_address###</td>
				<td>###USER_zip### ###USER_city###</td>
				<td>###USER_email###</td>
				<td>###STATUS###</td>
			</tr><tr>
			    <td colspan="4">
				<table width="100%" border="0">###FIELDS###</table>
			    </td>
			</tr>
		<!-- ###ITEMS### end -->
		<!---###EVENTSPACER### begin -->
			<tr><td colspan=5 style="border-left:1px solid transparent;border-right:1px solid transparent;">&nbsp;</td></tr>
		<!---###EVENTSPACER### end -->
		<!-- ###NOITEMS### begin -->
			<tr><td colspan=5>###LABEL_registration_noitems###</td></tr>
		<!-- ###NOITEMS### end -->
		<!-- ###NOLOGIN### begin-->
			<tr><td colspan=5>###LABEL_registration_nologin###</td></tr>
		<!-- ###NOLOGIN### end -->
		
	</table>
	<!-- ###LIST_ATTENDEES### end -->
	</pre>


	<h2>LIST_REGISTERFOREIGNUSER</h2>
	<p>This template defines how a attendees list should be displayed.</p>
	<pre>
	<!-- ###LIST_REGISTERFOREIGNUSER### begin -->
	<table width="100%" border="1" style="border-collapse:collapse;">
		<tr>
		<th>###LABEL_event_title###</th><td><a href="###EVENT_link###">###EVENT_title###</a></td>
		<th>###LABEL_event_organizer_name###</th><td>###EVENT_organizer_name###</td>
		<td rowspan=2>
			###LABEL_maxattendees###: ###MAXATTENDEES###<br />
			###LABEL_numattendees### ###NUMATTENDEES###<br />
			###LABEL_numwaitlist### ###NUMWAITLIST###<br />
		</td>
		</tr>
		<tr>
		<th>###LABEL_event_formated_start###</th><td>###EVENT_formated_start###</td>
		<th>###LABEL_event_formated_end###</th><td>###EVENT_formated_end###</td>
		</tr>
		<tr><td colspan = 5>
			<h2>###LABEL_admin_registerforeignuser###</h2>
			###MESSAGES###
			###USERSELECTION###
			###FOREIGNUSERREGISTRATION###
		</td></tr>
	</table>
	<!-- ###LIST_REGISTERFOREIGNUSER### end -->
	</pre>


	<hr /><h1>Templates for Emails</h1><hr /><!-- *********************************************************************************************************************** -->
	
	<h2>EMAIL_DEFAULT</h2>
	<p>Default email showing some text and the userdefined fields</p>
	<pre>
	<!-- ###EMAIL_DEFAULT### begin -->
	<h2>###HEADING###</h2>
	###MESSAGES###
	<p>###TEXTTOP###</p>
	<table width="100%">
	<tr><td><b>###LABEL_event_title###</b></td><td>###EVENT_title###</td></tr>
	<tr><td><b>###LABEL_event_organizer_name###</b></td><td>###EVENT_organizer_name###</td></tr>
	<tr><td><b>###LABEL_user_name###</b></td><td>###USER_name###</td></tr>
	<tr><td><b>###LABEL_user_address###</b></td><td>###USER_address###</td></tr>
	<tr><td><b>###LABEL_user_zip###/###LABEL_user_city###</b></td><td>###USER_zip### ###USER_city###</td></tr>
	<tr><td><b>###LABEL_user_email###</b></td><td>###USER_email###</td></tr>
	###FIELDS###
	</table>
	<p>###TEXTBOTTOM###</p>
	<!-- ###EMAIL_DEFAULT### end -->
	</pre>

</body>
</html>
